################################################################################
# Ce fichier .gitignore a été créé automatiquement par Microsoft(R) Visual Studio.
################################################################################

/NComment/bin/Debug
/NComment/obj/Debug
/NComment.Tests/bin/Debug
/NComment.Tests/obj/Debug
*.suo
/NComment/bin/Release
/NComment/obj/Release
/NComment.Tests/bin/Release
/NComment.Tests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NComment.Tests/obj/Release/NComment.Tests.csproj.FileListAbsolute.txt
/NComment.Tests/obj/Release/NComment.Tests.csprojResolveAssemblyReference.cache
/NComment.Tests/obj/Release/NComment.Tests.dll
/NComment.Tests/obj/Release/NComment.Tests.pdb
/NComment.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NComment.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NComment.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
